.RejectManager {
  .el-form-item {
    display: inline-block;
  }
  .dialog-content {
    width: 1010px;
    padding: 0 20px 10px;
  }
  .endOrder-head {
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    .form-item {
      .el-input {
        width: 100px;
      }
    }
  }
  .endOrder-dialog {
    padding: 10px 20px;
  }
  .confirm-receipt-dialog {
    padding: 10px 20px;
    .el-form-item {
      display: block;
    }
  }
  .text-block {
    display: block;
  }
  .detail-form {
    .el-form-item--small.el-form-item {
      margin-bottom: 5px;
    }
  }
}
